.container-fluid {
    width: 800px;
    margin: 0 auto;
}

.content {
    height: 100px;
    overflow: hidden;
}

.each-blog {
    margin-left: 32px;
}

.navbar-right {
    padding-top: 10px;
    padding-right: 15px;
}

.error {
    color: red;
}

.meta-author, .feedback-meta{
    display: flex;
}

.post-title {
    font-size: 24px;
}

.meta-post-date {
    float: right;
}

.meta-author-image {
    padding: 0px;
    padding-right: 5px;
}

.img-responsive {
    padding: 0px;
    position: fixed;
    z-index: -1;
    opacity: 0.6;
}

img {
    padding-right: 5px;
    padding-top: 10px;
    position: relative;
    height: 100%;
}

footer {
    margin-top: 30px;
    position: absolute;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
    padding-left: 10px;
}

input[type=submit] {
  font-size: 14px;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.post {
    margin-top: 15px;
}

.post-back {
    padding-top: 10px;
    margin-left: 16px;
}

.post-border {
    background: white;
    border-left: 7px solid lightblue;
    border-right: 7px solid lightblue;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-main, .post-like {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.post-like {
    padding-bottom: 10px;
}

.feedback-meta {
    margin-left: 16px;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;
}

.meta-post-date {
    margin-top: 10px;
}

.post-content {
    margin-top: 5px;
    background: lightblue;
    border: 2px dashed lightblue;
    border-radius: 5px;
    text-align: justify;
}

