
{% extends "base.html" %}

{% block content %}
  
    <div class="newpost">
        <div class="newpost-form">
            <form method="post" autocomplete="off">
                <textarea autofocus class="form-textarea" placeholder="Write a response..." type="text" name="content">{{content}}</textarea>
                <input class="button-outline form-submit" type="submit" value="publish">
                <span class="form-message error">{{error}}</span>
            </form>
        </div>
    </div>

{% endblock %}