{% extends "base.html" %}

{% block content %}

<h2>Edit Post</h2>
<form method = "POST">
    <label>
        Title<br>
        <input class="form-control" type="text" name="subject" value="{{post.subject}}">
    </label>
    <br><br>
    <label>
        Content<br>
        <textarea class="form-control" type="text" name="content" style="width:765px; height:350px;">{{post.content}}</textarea>
    </label> 
    <div class="error">{{error}}</div>
    <input class="btn btn-default" type="submit" name="update" value="&#9997; Update">
    <input class="btn btn-default" type="submit" name="cancel" value="&#9752; Cancel">
</form>

{% endblock %}