{% extends "base.html" %}

{% block content %}

    <div class="editpost">
        <h2>Edit Post</h2>
        <div class="editpost-form">
            <form method = "post">
                <input autofocus class="form-input" placeholder="Title" type="text" name="subject" value="{{subject}}">
                <textarea class="form-input" placeholder="Your content startshere..." type="text" name="content">{{content}}</textarea>
                <br>
                <a href="/{{post_id}}">
                    <button class="button-outline btn btn-info">back</button>
                </a>
                <input class="button-outline form-submit btn btn-success" type="submit" value="save">
                <span class="error form-message">{{error}}</span>
            </form>     
        </div>
    </div>

{% endblock %}