{% extends "base.html" %}

{% block content %}

	<div class="new-post">
		<a class="new-post-link btn btn-success" href="/blog/newpost">new post</a>
	</div>

	{% for p in posts %}
		{{ p.render() | safe }}  <!-- jinja syntax safe all html automatically escaped -->
		<br><br>

		{% if user.name == user.author %} 
			<a href="/blog/editpost?post={{p.key().id()}}">Edit</a>
			<a href="/blog/delete?post={{p.key().id()}}">Delete</a>
		{% else %}
			<a href="/blog/{{p.key().id()/like}}">Like</a>
		{% endif %}

		{% if user and p.comments %}
		<div>
			<span>{{p.comments.count()}} comments</span>
		</div>

		<div class="post-comments">
			<h3 class="comment-title">Comments</h3>

			{% for c in p.comments %}

			<div class="comments">
				<div class="comment-author">{{c.parent().name }} says:</div>
				<p class="comment-content">{{c.comment}}</p>
				{% if user.name == c.author %}
				<a href="/blog/{{p.key().id()}}/editcomment/{{c.key().id()}}">Edit comment</a>
				<a href="/blog/{{p.key().id()}}/deletecomment/{{c.key().id()}}">Delete comment</a>
				{% endif %}
			</div>
			{% endfor %}

			<a href="/blog/newcomment?post={{p.key().id()}}">add new comment</a>

		</div>
		{% endif %}
		
	{% endfor %}

{% endblock %}
