{% extends "base.html" %}

{% block content %}

<div class="login">
    <h5 class="login-header">Login</h5>
    <span class="login-message">{{error}}</span>
    <div class="login-form">
        <form method="post">
            <input autofocus class="form__input" placeholder="Username" type="text" name="username" value="{{username}}">
            <input class="form__input" placeholder="Password" type="password" name="password" value="">
            <input class="form__submit" type="submit" value="login">
        </form>   
    </div>
    <div class="login-footer">
        <a href="">Forgot your Password</a>
    </div>
</div>

{% endblock %}
