{% extends "base.html" %}

{% block content %}
<h2 class="login-header">Login</h2>
<div class="login">
    <span class="login-message">{{error}}</span>
    <div class="login-form">
        <form method="post">
            <input autofocus class="form-control form-input" placeholder="Username" type="text" name="username" value="{{username}}">
            <br>
            <input autofocus class="form-control form-input" placeholder="Password" type="password" name="password" value="">
            <div class="login-footer">
                <a href="">Forgot your Password</a>
            </div>
            <br>
            <input class="form-submit btn btn-success" type="submit" value="login">
        </form>   
    </div>
</div>

{% endblock %}
