{% extends "base.html" %}

{% block content %}

    <div class="newpost">
        <h2 class="newpost-header">New Post</h2>
        <div class="newpost-form">
            <form method="post">
                <input autofocus class="form__input" placeholder="Title" type="text" name="subject" value="{{subject}}">
                <textarea class="form__textarea" placeholder="Write your content here..." type="text" name="content">{{content}}</textarea>
                <input class="button-outline form__submit" type="submit" value="publish">
                <span class="form__message">{{error}}</span>
                
            </form>     
        </div>   
    </div>

{% endblock %}