{% extends "base.html" %}

{% block content %}

    <div class="newpost">
        <h2 class="newpost-header">New Post</h2>
        <div class="newpost-form">
            <form method="post">
                <input autofocus class="form-input" placeholder="Title" type="text" name="subject" value="{{subject}}">
                <br><br>
                <textarea class="form-textarea" placeholder="Write your content here..." type="text" name="content">{{content}}</textarea>
                <br>
                <input class="button-outline form-submit btn btn-success" type="submit" value="publish">
                <span class="form-message error">{{error}}</span>
                
            </form>     
        </div>   
    </div>

{% endblock %}