<div class="post">
    <div class="post-meta">
        <div class="meta-author">
            <img class="meta-author-image" src="/static/images/compose.png" alt="compose-icon">
        </div>
        <div class="meta-post">
            <div class="meta-post-author">{{author}}</div>
            <div class="meta-post-date">{{p.created.strftime("%b %d, %Y")}}</div>
        </div>
    </div>
    <h1 class="post-title">
        <a href="/{{p.key().id()}}">{{p.subject}}</a>    
    </h1>
    <p class="post-content">
        {{p._render_text | safe}}
    </p>
    <div class="post-like">
        <a href="/{{p.key().id()}}/like">
            <img class="like-icon" src="/static/images/like.png" alt="like-icon">
        </a>
        <span class="like-count">{{p.likes}}</span>
    </div>
</div>