<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signup Page</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <style type="text/css">
      .error {color: red}
      body {width: 800px; margin: 0 auto;}
    </style>

  </head>

  <body>
  <div class="container-fluid">
    <h2>Signup</h2>
    <form method="post" class="form-horizontal">
        
        <div class="form-group">
          <label class="col-sm-3 label-control">Username</label>
          <div class="col-sm-9">
            <input class="form-control" type="text" name="username" value="{{username}}" placeholder="Username">
            <div class="error">
              {{error_username}}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 label-control">Password</label>
          <div class="col-sm-9">
            <input class="form-control" type="password" name="password" value="" placeholder="Password">
            <div class="error">
              {{error_password}}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 label-control">Verify Password</label>
          <div class="col-sm-9">
            <input class="form-control" type="password" name="verify" value="" placeholder="Re-enter Your Password">
            <div class="error">
              {{error_verify}}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 label-control">Email Address (optional)</label>
          <div class="col-sm-9">
            <input class="form-control" type="email" name="email" value="{{email}}" placeholder="Email">
            <div class="error">
              {{error_email}}
            </div>
          </div>
        </div>

        <input class="btn btn-default" type="submit" value="&#10004; Submit">
        <input class="btn btn-default" type="submit" name="cancel" value="&#10008; Cancel">
    </form>
  </div>
  </body>

</html>
