{% extends "base.html" %}

{% block content %}

    <div class="signup">
        <h2 class="signup-header">Signup</h2>
        <span class="signup-message error">{{error}}</span>
        <div class="signup-form">
            <form method="post">
                <input autofocus class="form-control form-input" type="text" name="username" value="{{username}}" placeholder="Username">
                <br>
                <input class="form-control form-input" type="password" name="password" value="" placeholder="Password">
                <br>
                <input class="form-control form-input" type="password" name="verify" value="" placeholder="Re-enter Your Password">
                <br>
                <input class="form-control form-input" type="email" name="email" value="{{email}}" placeholder="Email(optional)">
                <br>
                <input class="form-submit btn btn-success" type="submit" value="Singup">
            </form>
        </div>
    </div>

{% endblock %}
        


